.table-header {
  font-size: 25px;
  background-color: rgb(0, 0, 0);
}

.table-total {
  font-size: 20px;
  background-color: rgb(0, 0, 0);
}

.head-modify {
  font-size: 60px;
  margin-bottom: 20px;
}
